//color
$color-black         : #031635;
$color-black-4       : rgba(0, 0, 0, 0.4);
$color-black-8       : rgba(0, 0, 0, 0.8);
$color-white         : #ffffff;
$color-white-primary : #FDFDFD;
$color-sky           : #1E82FF;
$color-dark-blue     : #003C56;
$color-primary-blue  : rgba(53, 69, 238, 0.2);
$border-color        : rgba(53, 69, 238, 0.1);
