input[readonly] {
    cursor: text;
    background-color: #f1f1f9 !important;
}

.page-header {
    margin: 1rem 0rem;
}

/*form fieldset border css*/
fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 10px 14px 10px !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

button:focus {
    outline: none;
}

.patient-info {
    background: #ccc;
}

legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}
